## Technical Assessment
#### ZNPHI Public Health Intelligence Officer â€“ Bioinformatics & Big Data Visualization
##### Malambo Mutila |  mutilamalambo@gmail.com | +260979233231

##### Key Libraries

In [165]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd

from shapely.geometry import Point
from shapely.geometry import LineString
import folium

print("Done")

Done

##### Loading Data

In [166]:
maternal_deaths = pd.read_excel("data/Maternal deaths.xlsx", sheet_name=None)
measles_lab = pd.read_excel("data/measles_lab.xlsx", sheet_name=None)
weekly_data = pd.read_csv("data/weekly_data_by_province.csv")

### EDA

##### Maternal Deaths

In [167]:
# Check the sheets in the Excel workbook
maternal_deaths.keys()

dict_keys(['MD summary', 'MD linelist'])

In [168]:
# Preview the data in MD Summary
maternal_deaths_summary = maternal_deaths["MD summary"]
maternal_deaths_summary.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Weekly Maternal Death,NaN,NaN,Maternal Death Cumulative,NaN
1,Central,3.0,NaN,Central,36.0
2,Copperbelt,1.0,NaN,Copperbelt,58.0
3,Eastern,1.0,NaN,Eastern,29.0
4,Lusaka,4.0,NaN,Lusaka,88.0
5,Luapula,1.0,NaN,Luapula,20.0
6,Muchinga,2.0,NaN,Muchinga,21.0
7,Northern,NaN,NaN,Northern,38.0
8,North Western,1.0,NaN,North Western,30.0
9,Southern,1.0,NaN,Southern,47.0
10,Western,1.0,NaN,Western,28.0
11,Total,15.0,NaN,Total,395.0

In [169]:
# Set the second row as the header - this creates a duplicate
maternal_deaths_summary.columns = maternal_deaths_summary.iloc[0]

# Remove the first row which is now a duplicate
maternal_deaths_summary = maternal_deaths_summary[1:]


# Make a copy to avoid SettingWithCopyWarning
maternal_deaths_summary = maternal_deaths_summary.copy()

# Drop unwanted columns
maternal_deaths_summary.drop(columns=[maternal_deaths_summary.columns[2], maternal_deaths_summary.columns[3]], inplace=True)

In [170]:
# Reset the index for clarity
maternal_deaths_summary.reset_index(drop=True, inplace=True)

In [171]:
maternal_deaths_summary.head(12)

0  Weekly Maternal Death   NaN    NaN
0                Central   3.0   36.0
1             Copperbelt   1.0   58.0
2                Eastern   1.0   29.0
3                 Lusaka   4.0   88.0
4                Luapula   1.0   20.0
5               Muchinga   2.0   21.0
6               Northern   NaN   38.0
7          North Western   1.0   30.0
8               Southern   1.0   47.0
9                Western   1.0   28.0
10                 Total  15.0  395.0

In [172]:
# Rename the columns by index
maternal_deaths_summary.rename(columns={
    maternal_deaths_summary.columns[0]: "Province",
    maternal_deaths_summary.columns[1]: "Weekly Maternal Death",
    maternal_deaths_summary.columns[2]: "Maternal Death Cumulative",
}, inplace=True)

In [173]:
# Drop Total row by index
maternal_deaths_summary.drop([10])

0       Province  Weekly Maternal Death  Maternal Death Cumulative
0        Central                    3.0                       36.0
1     Copperbelt                    1.0                       58.0
2        Eastern                    1.0                       29.0
3         Lusaka                    4.0                       88.0
4        Luapula                    1.0                       20.0
5       Muchinga                    2.0                       21.0
6       Northern                    NaN                       38.0
7  North Western                    1.0                       30.0
8       Southern                    1.0                       47.0
9        Western                    1.0                       28.0