## Technical Assessment
#### ZNPHI Public Health Intelligence Officer â€“ Bioinformatics & Big Data Visualization
##### Malambo Mutila |  mutilamalambo@gmail.com | +260979233231

##### Key Libraries

In [39]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import geopandas as gpd

from shapely.geometry import Point
from shapely.geometry import LineString
import folium

print("Done")

Done

##### Loading Data

In [40]:
maternal_deaths = pd.read_excel("data/Maternal deaths.xlsx", sheet_name=None)
measles_lab = pd.read_excel("data/measles_lab.xlsx", sheet_name=None)
weekly_data = pd.read_csv("data/weekly_data_by_province.csv")

### EDA

##### Maternal Deaths

In [41]:
# Check the sheets in the Excel workbook
maternal_deaths.keys()

dict_keys(['MD summary', 'MD linelist'])

In [42]:
# Preview the data in MD Summary
maternal_deaths_summary = maternal_deaths["MD summary"]
maternal_deaths_summary.head(20)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Weekly Maternal Death,NaN,NaN,Maternal Death Cumulative,NaN
1,Central,3.0,NaN,Central,36.0
2,Copperbelt,1.0,NaN,Copperbelt,58.0
3,Eastern,1.0,NaN,Eastern,29.0
4,Lusaka,4.0,NaN,Lusaka,88.0
5,Luapula,1.0,NaN,Luapula,20.0
6,Muchinga,2.0,NaN,Muchinga,21.0
7,Northern,NaN,NaN,Northern,38.0
8,North Western,1.0,NaN,North Western,30.0
9,Southern,1.0,NaN,Southern,47.0
10,Western,1.0,NaN,Western,28.0
11,Total,15.0,NaN,Total,395.0

In [43]:
# Set the second row as the header - this creates a duplicate
maternal_deaths_summary.columns = maternal_deaths_summary.iloc[0]

# Remove the first row which is now a duplicate
maternal_deaths_summary = maternal_deaths_summary[1:]

In [44]:
maternal_deaths_summary.head(12)

0  Weekly Maternal Death   NaN  NaN Maternal Death Cumulative    NaN
1                Central   3.0  NaN                   Central   36.0
2             Copperbelt   1.0  NaN                Copperbelt   58.0
3                Eastern   1.0  NaN                   Eastern   29.0
4                 Lusaka   4.0  NaN                    Lusaka   88.0
5                Luapula   1.0  NaN                   Luapula   20.0
6               Muchinga   2.0  NaN                  Muchinga   21.0
7               Northern   NaN  NaN                  Northern   38.0
8          North Western   1.0  NaN             North Western   30.0
9               Southern   1.0  NaN                  Southern   47.0
10               Western   1.0  NaN                   Western   28.0
11                 Total  15.0  NaN                     Total  395.0

In [45]:
# Make a copy to avoid SettingWithCopyWarning
maternal_deaths_summary = maternal_deaths_summary.copy()

# Rename the columns by index
maternal_deaths_summary.rename(columns={
    maternal_deaths_summary.columns[0]: "Province",
    maternal_deaths_summary.columns[1]: "Weekly Maternal Death",
    maternal_deaths_summary.columns[3]: "Maternal Death Cumulative",
    maternal_deaths_summary.columns[4]: "Province_2"
}, inplace=True)

# Drop column 3 (NaN)
maternal_deaths_summary.drop(columns=[maternal_deaths_summary.columns[2]], inplace=True)

In [46]:
maternal_deaths_summary.head(12)

0        Province  Weekly Maternal Death Maternal Death Cumulative  Province_2
1         Central                    3.0                   Central        36.0
2      Copperbelt                    1.0                Copperbelt        58.0
3         Eastern                    1.0                   Eastern        29.0
4          Lusaka                    4.0                    Lusaka        88.0
5         Luapula                    1.0                   Luapula        20.0
6        Muchinga                    2.0                  Muchinga        21.0
7        Northern                    NaN                  Northern        38.0
8   North Western                    1.0             North Western        30.0
9        Southern                    1.0                  Southern        47.0
10        Western                    1.0                   Western        28.0
11          Total                   15.0                     Total       395.0